body {
	font-family: 'Reem Kufi', sans-serif;
	background-color: rgb(145, 228, 166);
	margin: 0 auto;
	text-align: center;
	height: 100%;
}


#header {
	background-color: rgb(135, 63, 252);
	color: white;
	position: relative;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

#header h1 {
	font-size: 6vw;
	white-space: nowrap;
}

#header button {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 15px;
	border-radius: 2em;
	border: 0;
	padding: 10px;
	min-width: 100px;
	height: 40px;
	box-shadow: 2px 2px 2px black ;
}

#close-button {
	margin: 15px;
}

#rules-button, #start-game {
	margin-left: 55px;
	margin-right: 55px;
}


#header button:hover {
	background-color: black;
}


#rules-text {
	color: black;
}

#rules-text h1 {
	font-size: 2em;
}

#rules-modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
}

#rules-text {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
	overflow: auto;
}

#round-display h1 {
	padding: 0px;
	margin: 0px;
}

#play {
	width: 15vw;
	height: 15vw;

}

#main-display {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.score {
	font-size: 5vw;
}

#timer {
    width: 100%;
    height: 20px;
	background-color: rgba(102,255,0,1);
	margin: 10px auto;
}
#player-board {
	height: auto;
	display: flex;
	justify-content: space-between;
	/* border: 1px;
	border-style: solid;
	border-color: red */
}

#answers {
	/* border: 1px;
	border-style: solid;
	border-color: blue; */
	width: 100%;

}

#selection {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	justify-content: stretch;
	align-items: stretch;
	/* border: 1px;
	border-style: solid;
	border-color: magenta; */
	height: 100%;
	margin: 0;
	padding: 0;
}

li {
	flex-grow: 1;
	justify-content: space-evenly;
	list-style-position: inside;
	padding: 1%;
	animation-name: slidein;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	background-color: aqua;
	font-size: 25px;
	margin: 5px;
	border-radius: 2em;
}

.player {
	display: flex;
	flex-direction: column;
	padding: 0;
	width: 28%;
	max-width: 260px;
	/* border: 1px;
	border-style: solid;
	border-color: orange; */
}

.power-ups {
	display: flex;
	flex-direction: row;
}

#player1 .power-ups {
	justify-content: left;
}

#player2 .power-ups {
	justify-content: right;
}

.player img{
	width: 25px;
	height: 25px;
	padding: 10px;
}

@media screen and (min-width: 850px) {
	#header h1 {
		font-size: 52px;
	}
}

@keyframes slidein {
	from {
		margin-left: 0%;
		width: 0%;
	}
	to {
		margin-left: 100%;
		width: 100%;
	}
}
