body {
	font-family: 'Reem Kufi', sans-serif;
	background-color: rgb(145, 228, 166);
	margin: 0 auto;
	text-align: center;
	height: 100%;
}


#header {
	background-color: rgb(135, 63, 252);
	color: white;
	position: relative;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

#header h1 {
	font-size: 6vw;
	white-space: nowrap;
}

#header button {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.8vw;
	border-radius: 2em;
	border: 0;
	padding: 10px;
	width: auto;
	height: auto;
	box-shadow: 2px 2px 2px black;
	overflow: hidden;
	white-space: nowrap;
}

#close-button {
	margin: 15px;
}

#rules-button, #start-game {
	margin-left: 55px;
	margin-right: 55px;
}


#header button:hover {
	background-color: black;
}


#rules-text {
	color: black;
}

#rules-text h1 {
	font-size: 2em;
}

#rules-modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
}

#rules-text {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
	overflow: auto;
}

#main-display {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0%;
	margin: 0px;
}

#round-display h1 {
	padding: 0px;
	margin: 0px;
	width: 13vw;
	font-size: 3.5vw;
	opacity: 0%;
}

#play {
	border: 0px;
	background-color: rgba(0,0,0,0);
	font-size: 8vw;
	padding: 0;
	width: 13vw;
	height: 13vw;
	cursor: pointer;
}

#play img{
	padding: 0;
	width: 100%;
	height: 100%;
}

.score {
	font-size: 4vw;
	margin: 0 20px 0 20px;
	width: 50%;
	border: 1px;
	margin: 0;
	padding: 0;
}

#timer {
    width: 100%;
    height: 20px;
	background-color: rgba(102,255,0,1);
	margin: 10px auto;
}

#answers {
	width: 100%;
}

#selection {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	justify-content: stretch;
	align-items: stretch;
	margin: 0;
	padding: 0;
}

li {
	flex-grow: 1;
	justify-content: space-evenly;
	list-style-position: inside;
	padding: 1%;
	animation-name: slidein;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-direction: normal;
	background-color: aqua;
	font-size: 25px;
	margin: 5px;
	border-radius: 2em;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100%;
	opacity: 0%;
}

.status-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.player-title {
	display: flex;
	align-items: center;
}

.power-ups {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* #main-display img{
	width: 3.7vw;
	height: 3.7vw;
	padding: 5px;
} */

.nail img, .player-title img, [class="5050"] img{
	width: 3.7vw;
	height: 3.7vw;
	padding: 5px;
}

.player-title h1 {
	font-size: 3.5vw;
}

.wins h2 {
	font-size: 3vw;
}

@media screen and (min-width: 850px) {
	#header h1 {
		font-size: 52px;
	}

	.nail img, .player-title img, [class="5050"] img {
		width: 30px;
		height: 30px;
		padding: 5px;
	}

	#round-display h1 {
		font-size: 30px;
	}

	.player-title h1 {
		font-size: 30px;
	}

	.wins h2 {
		font-size: 26px;
	}
	#header button {
		font-size: 15px;
		width: 100px;
		height: 40px;
	}
}

@keyframes slidein {
	from {
		margin-left: 0%;
		width: 0%;
	}
	to {
		margin-left: 100%;
		width: 100%;
	}
}
